body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.section{
    background-color: rgba(0, 0, 0, 0.179);
    width: 40vw;
    height: 500px;
    display: grid;
    /* grid-template-columns: repeat(4,1fr);
     grid-template-rows: auto auto auto;  */
    grid-template-areas:
    'a b c d'
    'e b g d'
    'e f g h' ;
    
    gap: 5px;
}
div{
    background-color: rgba(0, 0, 255, 0.296);
}
.box1{
    background-image: url(img/1.jpeg);
    background-size: cover;
    grid-area: a;
}
.box2{
    background-image: url(img/5.jpg);
    background-size: cover;
    grid-area: b;
}
.box3{
    background-image: url(img/2.avif);
    background-size: cover;
    grid-area: c;
}
.box4{
    background-image: url(img/3.jpg);
    background-size: cover;
    grid-area: d;
}
.box5{
    background-image: url(img/7.jfif);
    background-size:cover;
    background-repeat: no-repeat;
    grid-area: e;
}
.box6{
    background-image: url(img/5.jpg);
    background-size: cover;
    height: 96%;
  grid-area: f;
}
.box7{
    background-image: url(img/1.jpeg);
    background-size: cover;
    height: 96%;
   grid-area: g;
}
.box8{
    background-image: url(img/4.jpg);
    background-size: cover;
    height: 89%;
    grid-area: h;
}